<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Donwload</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <!-- create a page with title: download you certicate and keys -->
    <!-- and provide user with # buttons to download them -->
    <div class="h-screen w-screen bg-gray-100 rounded-lg p-12 pt-8">
      <!-- Title -->
      <div class="flex justify-center">
        <h1 class="text-3xl font-bold mb-10">Get your certificate</h1>
      </div>

      <!-- Download buttons -->
      <div
        class="w-10/12 flex items-center mx-auto px-12 pt-10 pb-7 border-4 border-gray-300 border-dashed rounded-lg"
      >
        <!-- on clicking on downlod certificate button we ;ake GET request to /download/certificate -->
        <!-- on clicking on downlod private key button we ;ake GET request to /download/private-key -->
        <form action="http://localhost:5000/download/certificate" method="get" class="h-12 w-60 m-auto">
          <button
            id="certificate"
            class="h-12 w-60 flex items-center justify-evenly m-auto rounded-lg text-center bg-blue-200 font-medium"
          >
            <span>Download Certificate</span>
            <i class="material-icons">description</i>
          </button>
        </form>
        <form
          action="http://localhost:5000/download/private-key"
          method="get"
          class="h-12 w-60 m-auto"
        >
          <button
            id="privateKey"
            class="h-full w-full flex items-center justify-evenly m-auto rounded-lg text-center bg-green-200 font-medium"
          >
            <span>Download Private Key</span>
            <i class="material-icons">key</i>
          </button>
        </form>
      </div>
    </div>

    <script>
      // add event listeners to buttons
      // to download the files

      // get the buttons
      const downloadCertificate = document.getElementById("certificate");
      const downloadPrivateKey = document.getElementById("privateKey");

      //function downloadFile(name, path) {
      //  // Create a new anchor element
      //  var downloadLink = document.createElement("a");
      //
      //  // Set the file name and href attribute for the download link
      //  downloadLink.setAttribute("download", name);
      //  downloadLink.setAttribute("href", path);
      //
      //  // Append the download link to the document body
      //  document.body.appendChild(downloadLink);
      //
      //  // Simulate a click on the download link
      //  downloadLink.click();
      //
      //  // Remove the download link from the document body
      //  document.body.removeChild(downloadLink);
      //}

      downloadPrivateKey.addEventListener("click", () => {
        downloadFile("PrivKey.key", "keys/entity.key");
      });
    </script>
  </body>
</html>
