<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Donwload</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <!-- create a page with title: download you certicate and keys -->
    <!-- and provide user with # buttons to download them -->
    <div class="h-screen w-screen bg-gray-100 rounded-lg p-12 pt-8">
         <!-- Navbar -->
         <div class="flex justify-between items-center mb-10">
          <!-- Logo & Title -->
          <div class="flex items-center">
            <img
              src="{{url_for('static', filename='logo.png')}}"
              alt=""
              class="w-16 h-16 mr-4"
            />
            <h1 class="text-3xl font-bold">My CA</h1>
          </div>
  
          <!-- Links -->
          <div class="flex items-center">
            <a
              href="http://localhost:5000/"
              class="mr-5 transition-all duration-200 hover:border-b hover:border-gray-400"
              >Home</a
            >
            <a
              href="http://localhost:5000/generate-certificate"
              class="mr-5 transition-all duration-200 hover:border-b hover:border-gray-400"
              >Generate Certificate</a
            >
            <a
              href="http://localhost:5000/validate-certificate"
              class="transition-all duration-200 hover:border-b hover:border-gray-400"
              >Validate Certificate</a
            >
          </div>
        </div>
        
      <!-- Title -->
      <div class="flex justify-center">
        <h1 class="text-3xl font-bold mb-10">Get your certificate</h1>
      </div>

      <!-- Download buttons -->
      <div
        class="w-10/12 flex items-center mx-auto px-12 pt-10 pb-7 border-4 border-gray-300 border-dashed rounded-lg"
      >
        <!-- on clicking on downlod certificate button we make GET request to /download/certificate -->
        <!-- on clicking on downlod private key button we make GET request to /download/private-key -->
        <form
          action="http://localhost:5000/download/certificate"
          method="get"
          class="h-12 w-60 m-auto"
        >
          <button
            id="certificate"
            class="h-12 w-60 flex items-center justify-evenly m-auto rounded-lg text-center bg-blue-200 font-medium"
          >
            <span>Download Certificate</span>
            <i class="material-icons">description</i>
          </button>
        </form>
        <form
          action="http://localhost:5000/download/private-key"
          method="get"
          class="h-12 w-60 m-auto"
        >
          <button
            id="privateKey"
            class="h-full w-full flex items-center justify-evenly m-auto rounded-lg text-center bg-green-200 font-medium"
          >
            <span>Download Private Key</span>
            <i class="material-icons">key</i>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
