<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>valid</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-screen h-screen bg-green-200 flex items-center justify-center">
      <h1 class="text-green-600 text-5xl text-center font-bold">
        Valid certificate
      </h1>
    </div>
  </body>
</html>
