<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>valid</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="w-screen h-screen bg-green-200 flex flex-col items-center justify-center"
    >
      <h1 class="text-green-600 text-5xl text-center font-medium">
        Valid certificate
      </h1>

      <!-- Green Check -->
      <div
        class="w-20 h-20 flex items-center justify-center text-green-600 border-green-600 border-4 rounded-full mt-8"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M20 6L9 17l-5-5"></path>
        </svg>
      </div>
    </div>
  </body>
</html>
